
*.bat
config.json
data/serverdict_backup
data/serverdict
data/*.db*

logs/
__pychache__/
*.py[cod]

.vscode/
data/pokestop_data.json
data/gym_data.json
data/raid_info.json
data/pokestop_data.json
data/gym_data.json
data/backup/defense_chart.json
data/backup/gym_data.json
data/backup/gym_data_example.json
data/backup/kyogre.db
data/backup/pkmn_data.json
data/backup/pokestop_data.json
data/backup/quest_data.json
data/backup/raid_info.json
data/backup/region_data.json
data/backup/serverdict
data/backup/serverdict_backup
data/backup/serverdict_converter.py
data/backup/type_list.json
data/gym_data.json
data/pokestop_data.json
data/region_data.json
data/gym_data.json
data/pokestop_data.json
data/region_data.json
data/gym_data_backup1
data/gym_data_backup2
data/pokestop_data_backup1
data/pokestop_data_backup2
data/raid_info.json
data/gym_data_small.json
data/pokestop_data_small.json
